* {
  margin: 0;
  padding: 0;
}
html {
  width: 100vw;
}
html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  background-image: url("./assets/background-asset-1.jpg");
  background-size: 1900px;
  background-attachment: fixed;
  width: 100%;
}

/* ==================================================================== */

/* Header and nav section  */

/* ==================================================================== */
header {
  width: 100%;
  height: 100px;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid white;
  z-index: 1;
}

nav img {
  max-height: 80px;
  /* margin-left: 20px; */
}

nav ul {
  display: flex;
  list-style-type: none;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  /* margin: 0 200px; */
}

nav li {
  margin: 0 20px;
}

nav ul a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
}
nav ul a:hover {
  color: rgba(255, 255, 255, 0.507);
  border-color: rgb(255, 255, 112);
}

i {
  margin: 0 5px;
}
.dropdown {
  overflow: hidden;
}

.dropbtn {
  width: 80px;
  height: 20px;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bcbbbb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #484848;
  color: white;
  transition: 0.5s;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.5s;
}

/* ======================================================================= */

/* First Section Content "Banner img and quote" */

/* ======================================================================= */

main {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1px;
  background-color: rgba(0, 0, 0, 0.262);
}

#banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(26, 26, 26);
  padding: 100px;
}

#banner :first-child {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

#banner h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 20px;
}

#banner p {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 20px;
  color: white;
}

#banner button {
  background-color: rgb(255, 84, 84);
  border: 2px solid rgb(255, 255, 255);
  color: white;
  padding: 20px 80px;
  margin: 10px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 700;
}

#banner button:hover {
  background-color: rgb(129, 26, 26);
  border-color: rgb(255, 255, 112);
  color: rgb(255, 255, 112);
  transition: 0.5s;
}

#banner img {
  max-height: 500px;
  min-width: 300px;
  width: 100%;
}

/* ======================================================================= */

/* Second third and fourth sections */
/* Why us, experience, and passion */

/* ======================================================================= */

/* effects all of them */
/* ================================================| */
.content-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 350px 0;
  width: 100%;
  /* height: 900px; */
  background-color: rgb(238, 238, 228);
  font-family: sans-serif;
  padding: 20px 0;
}

.content-info {
  max-width: 550px;
  text-align: center;
  text-justify: auto;
}

.img-container {
  padding: 20px;
}

.img-special {
  padding: 20px 70px;
}

.content-cards img {
  display: block;
  width: 100%;
  max-height: 700px;
  border-radius: 10%;
  box-shadow: 0 4px 10px 2px;
}

.content-cards h2 {
  font-size: 2.5rem;
  font-weight: 800;
  padding: 20px;
  color: rgb(53, 52, 52);
  border-bottom: 2px solid rgb(251, 71, 71);
}

content-cards a {
  text-decoration: none;
  color: red;
}

/* ===============================================| */

/* effects why us only */
/* ===============================================| */
.content-cards ul {
  padding: 50px 20px;
  font-size: 1.6rem;
  list-style-type: none;
  color: rgb(53, 52, 52);
}

.content-cards li {
  font-family: sans-serif;
  padding: 10px;
  font-size: 1.6rem;
  color: rgb(53, 52, 52);
  font-weight: 500;
  height: 100px;
}

.content-info div {
  content: "\2713";
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(26, 221, 26);
}
.checklist {
  display: flex;
}
.check {
  margin: 0;
}

.check li {
  padding: 10px;
}

/* ===============================================| */

/* effects multiple sections */

/* ===============================================| */
.content-cards p {
  padding: 50px 20px;
  max-width: 600px;
  font-size: 1.6rem;
  /* background-color: rgb(66, 66, 66); */
  color: rgb(53, 52, 52);
}
/* ===============================================| */

.content-cards button {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #4a4a48;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 1.1rem;
  border: 5px solid #4a4a48;
}

.content-cards button:hover {
  border-color: yellow;
  background-color: rgb(43, 43, 43);
  transition-duration: 0.5s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0 auto;
  background-color: #4a4a48;
  color: white;
}

#footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid white;
  padding: 25px;
  width: 50%;
}

#footer-logo-container img {
  max-height: 80px;
  padding-bottom: 20px;
}

#footer-logo-container button {
  height: 60px;
  width: 200px;
  border: 5px solid yellow;
  background-color: #4a4a48;
  color: white;
}
#footer-logo-container button:hover {
  background-color: yellow;
  color: #4a4a48;
  transition: 0.5s;
}

#social-media {
  /* border-right: 2px solid white; */
}

.footer-div {
  text-align: center;
  width: 50%;
}

.footer-div li {
  list-style-type: none;
  height: 37px;
  font-size: 1.5rem;
}

.footer-div a {
  text-decoration: none;
  color: white;
}

.flex-div {
  display: flex;
  align-items: center;
}

/* css for services page  */

.services {
  background-color: #f5f5f5;
  margin: 200px auto;
  max-width: 2000px;
  padding: 90px;
}

@keyframes btn-color {
  0% {
    background-color: red;
  }
  25% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: red;
  }
}

.services button {
  position: fixed;
  top: 200px;
  right: 400px;
  background-color: red;
  padding: 20px 50px;
  border: 3px solid white;
  animation-name: btn-color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.services button:hover {
  background-color: rgb(87, 0, 0);
}

.services section {
  text-align: left;
  font-family: sans-serif;
  padding: 90px;
}

.services h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 3rem;
}

.services h2 {
  color: #444;
  font-size: 2rem;
}

.services ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1.5rem;
}

.services li {
  margin-bottom: 5px;
}

.services img {
  height: 350px;
  border-radius: 10%;
  box-shadow: 0 4px 10px 2px;
  margin: 0 50px;
}

.invert-color {
  background-color: rgb(40, 39, 39);
}

.invert-color h2 {
  color: rgb(255, 255, 112);
}

.invert-color p {
  color: rgb(255, 255, 112);
}

.invert-color ul {
  color: rgb(255, 255, 112);
}

/* css for the about me page */

#about-me {
  background-color: #f5f5f5; /* Background color */
  padding: 90px; /* Add padding for spacing */
  font-family: sans-serif;
}

.about-container {
  max-width: 1200px; /* Set the maximum width of the content */
  margin: 0 auto; /* Center the content horizontally */
  text-align: left; /* Align text to the left */
}

.about-container h1 {
  font-size: 3rem; /* Set the heading font size */
  color: #333; /* Heading text color */
}

.about-container p {
  font-size: 1.5rem; /* Set the paragraph font size */
  line-height: 1.5; /* Adjust line height for readability */
  color: #555; /* Paragraph text color */
  margin: 30px 0;
}

.about-container img {
  height: 250px;
  border-radius: 10%;
  box-shadow: 0 4px 10px 2px;
  margin: 0 50px;
}

.about-container ul {
  list-style-type: disc; /* Use bullets for unordered lists */
  margin: 30px 20px; /* Add left margin for lists */
  font-size: 1.5rem; /* Set the list font size */
  color: #555; /* List text color */
}

/* Style headings within the content */
.about-container h2 {
  font-size: 2rem; /* Set subheading font size */
  color: #222; /* Subheading text color */
  margin-top: 100px; /* Add top margin for spacing */
}

.about-container button {
  background-color: rgb(67, 140, 241);
  border: 2px solid rgb(0, 0, 0);
  color: white;
  padding: 20px 80px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.about-container button:hover {
  background-color: rgb(51, 95, 149);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

/* This is css for the contact me page  */

#contact {
  background-color: #f5f5f5; /* Background color */
  padding: 90px; /* Add padding for spacing */
  font-family: sans-serif;
}

.contact-container {
  max-width: 800px; /* Set the maximum width of the content */
  margin: 0 auto; /* Center the content horizontally */
  text-align: left; /* Align text to the left */
}

h1 {
  font-size: 3rem; /* Set the heading font size */
  color: #333; /* Heading text color */
}

p {
  font-size: 1.5rem; /* Set the paragraph font size */
  line-height: 1.5; /* Adjust line height for readability */
  color: #555; /* Paragraph text color */
  margin: 20px 0;
}

.contact-container ul {
  list-style-type: disc; /* Use bullets for unordered lists */
  margin: 20px; /* Add left margin for lists */
  font-size: 1.5rem; /* Set the list font size */
  color: #555; /* List text color */
}

/* Style headings within the content */
h2 {
  font-size: 2rem; /* Set subheading font size */
  color: #222; /* Subheading text color */
  margin-top: 20px; /* Add top margin for spacing */
}

/* Style links within the content */
a {
  color: #007bff; /* Link text color */
  text-decoration: underline; /* Add underline to links */
}

/* Style links on hover */
a:hover {
  color: #0056b3; /* Change link color on hover */
}

/* Style the contact form */
form {
  margin-top: 20px; /* Add top margin for spacing */
  font-size: 1.3rem;
}

label {
  display: block; /* Display labels on separate lines */
  margin-bottom: 5px; /* Add bottom margin for spacing */
  font-weight: bold; /* Make labels bold */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Set input fields to full width */
  padding: 10px; /* Add padding to input fields */
  margin-bottom: 15px; /* Add bottom margin for spacing */
  border: 1px solid #ccc; /* Add a border to input fields */
  border-radius: 5px; /* Round the corners of input fields */
  font-size: 16px; /* Set the input font size */
}

textarea {
  resize: vertical; /* Allow vertical resizing of the textarea */
}

button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px; /* Add padding to buttons */
  border: none; /* Remove button border */
  border-radius: 5px; /* Round the corners of buttons */
  font-size: 16px; /* Set the button font size */
  cursor: pointer; /* Change cursor on hover */
}

button:hover {
  background-color: #0056b3; /* Change button color on hover */
}

/* this is css for the gallery */

#gallery {
  background-color: #f5f5f5;
  height: 1000px;
  padding: 90px;
  padding-bottom: 280px;
  font-family: sans-serif;
  font-weight: 700;
}

#gallery h1 {
  color: #333;
  text-align: center;
  padding-bottom: 40px;
}

#gallery-ui {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 1230px;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.img-slide {
  padding: 391px 30px;
  background-color: rgb(53, 53, 53);
}
.img-slide:hover {
  background-color: rgb(109, 109, 109);
}
.img-slide:active {
  background-color: rgb(175, 175, 175);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#img-display {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 1068px;
  justify-content: center;
  align-items: center;
}

#img-display img {
  max-height: 800px;
  max-width: 1063px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#img-slider {
  position: relative;
  display: flex;
  background-color: rgb(135, 135, 135);
  border: 3px solid rgb(45, 45, 45);
  max-height: 210px;
  margin: 0 auto;
  height: 210px;
  width: 1224px;
  overflow-x: auto;
  overflow-y: hidden;
}

#img-slider::-webkit-scrollbar {
  height: 10px;
}

#img-slider::-webkit-scrollbar-track {
  background: #000000;
}

#img-slider::-webkit-scrollbar-thumb {
  background: #ffffff;
}
#img-slider::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}

#img-slider img {
  margin: 10px;
  height: 180px;
  width: 224px;
}

/* @media only screen and (max-width: 1620px) {
  nav {
    justify-content: flex-start;
  }
  nav img {
    max-height: 80px;
    margin: 0 200px;
  }
  nav ul {
    margin: 0;
  }
}

@media only screen and (max-width: 1370px) {
  nav {
    justify-content: flex-start;
  }
  nav img {
    max-height: 80px;
    margin-right: 20px;
  }
  nav ul {
    margin: 0;
  }
}

@media only screen and (max-width: 1200x) {
  nav {
    justify-content: flex-start;
  }
  nav img {
    max-height: 80px;
    margin-right: 20px;
  }
  nav ul {
    margin: 0;
  }
} */

@media only screen and (max-width: 1920px) {
  .content-cards {
    /* height: 600px; */
  }

  .content-cards ul {
    font-size: 1.2rem;
  }
  .content-cards h2 {
    font-size: 1.8rem;
  }
  .content-cards span {
    font-size: 3rem;
  }
  .content-cards img {
    max-height: 500px;
  }
}

@media only screen and (max-width: 1038) {
  .reverse-div {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    flex-direction: column;
  }
  nav div {
    margin-left: 20px;
    align-self: first baseline;
  }
  nav img {
    max-height: 20px;
  }
  .dropdown .dropbtn {
    font-size: 0.8rem;
    border-bottom: 3px solid transparent;
  }

  .dropdown {
    margin-left: 0;
  }

  nav ul {
    font-size: 0.8rem;
  }
  nav li {
    margin: 0;
  }
  #banner {
    padding: 20px;
  }
  .content-cards {
    margin: 250px 0;
  }

  .content-cards h2 {
    text-align: center;
    font-weight: 700;
    padding: 10px;
    border-bottom: 2px solid black;
  }

  .content-cards li {
    font-size: 1.3rem;
  }

  .content-cards p {
    font-size: 1.3rem;
  }
  #footer-logo-container img {
    max-height: 40px;
  }
  .footer-div li {
    font-size: 1rem;
  }
}
